@use "../forward" as *;

header {
    font-weight: 600;
    width: 100%;
    padding: 2rem;
    display: flex;
    position: absolute;

    .logo {
        align-self: center;
        margin-right: auto;
        transition: filter 0.5s;
    }

    nav {
        display: flex;

        //style options
        .ham-opt {
            display: flex;
            align-items: center;
            gap: 2.5vw;

            list-style-type: none;

            a {
                color: $White;

                &:hover {
                    text-decoration: underline;
                    text-underline-offset: 0.5rem;
                }
            }

            .contact {
                font-family: $Fraunces;
                background-color: $White;
                padding: 1rem 2rem;
                border-radius: 2rem;
                font-weight: 700;
                text-transform: uppercase;
                color: $Very-dark-desaturated-blue;
                transition: background-color 0.2s;

                &:hover {
                    color: $White;
                    background-color: rgba($color: $White, $alpha: 0.2);
                    text-decoration: none;
                }
            }

            @media (max-width: 700px) {
                display: none;
            }
        }

        //style btns
        .ham-btn {
            align-self: center;
            cursor: pointer;

            background-color: transparent;
            border: transparent;
            height: 70%;
            width: 2rem;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5px;
            position: relative;

            >div {
                background-color: $White;
                height: 2px;
                width: 100%;
                border-radius: 5px;
                transition: all 0.1s ease-in-out;
            }

            >div:nth-child(2) {
                background-color: transparent;
                position: relative;

                >div {
                    position: absolute;
                    background-color: $White;
                    height: 2px;
                    width: 100%;
                    border-radius: 5px;
                    transition: all 0.2s ease-in-out;
                }
            }

            @media (min-width: 701px) {
                display: none;
            }
        }

        //transition to X when clicked
        .ham-btn[aria-expanded='true'] {
            >div:nth-child(1) {
                transform: translate(50%);
                opacity: 0;
                visibility: hidden;
            }

            >div:nth-child(2) {
                >div:nth-child(1) {
                    transform: rotate(45deg);
                }

                >div:nth-child(2) {
                    transform: rotate(-45deg);
                }
            }

            >div:nth-child(3) {
                transform: translate(-50%);
                opacity: 0;
                visibility: hidden;
            }
        }

        //menu is clicked -> restyle options
        .ham-btn[aria-expanded='true'] {
            +.ham-opt {
                animation: appear 0.2s forwards;

                background-color: $White;
                width: calc(100% - 5.5rem);
                padding: 2rem;
                justify-content: center;

                background: linear-gradient(45deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.4));
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);

                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2rem;

                position: absolute;
                right: 0;
                left: 0;
                margin-top: 3rem;
                margin-left: auto;
                margin-right: auto;

                clip-path: polygon(0 1rem, 95% 1rem, 100% 0, 100% 100%, 0 100%);
                shape-outside: polygon(0 1rem, 95% 1rem, 100% 0, 100% 100%, 0 100%);
                border-radius: 0 0 0.5rem 0.5rem;
                padding-top: 3rem;

                a {
                    color: $Very-dark-grayish-blue;
                }

                .contact {
                    color: $Very-dark-desaturated-blue;
                    background-color: $Yellow;
                    display: inline-block;

                    &:hover {
                        background-color: rgba($color: $Yellow, $alpha: 0.7);
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(-25px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}